<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="userName" value="admin@hclz1.onmicrosoft.com"/>
    <add key="userPassword" value="C#@98089997"/>
    <add key ="siteUrl" value="https://hclz1.sharepoint.com"/>
    <add key="adminUrl" value="https://hclz1-admin.sharepoint.com"/>
  </appSettings>
</configuration>